.group {
  border-bottom: 1px solid #BDBDBD;
}

.group-header {
  cursor: pointer;
}

ion-avatar {
  background-color: #3F51B5;
  color: white;
  font-weight: bolder;
  line-height: 40px;
  text-align: center;
  margin-top: 2px !important;
}

h2, h3 {
  margin: 0 !important;
}
